@import url(https://fonts.google.com/specimen/Figtree?query=figtree&selection.family=Figtree:wght@500;800);

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);

    --shadow-offset-x: 6px;
    --shadow-offset-y: 6px;
    --shadow-blur-radius: 0;
    --shadow-thikness: 1px;
    --shadow-color: rgba(0, 0, 0, 0.9);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: clamp(0.7rem, 1rem, 1rem);
}

body {
    font-family: 'Figtree', sans-serif;
    background-color: var(--Yellow);
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
}
.container {
    background-color: var(--White);
    border-radius: 20px;
    max-width: 370px;
    overflow: hidden;
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-thikness) var(--shadow-color);
    color: var(--Gray-950);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
}
.image-section {
    width: 100%;
    height: auto;
    border-radius: 1px;
}
.image-section img {
    width: 100%;
    display: flex;
    border-radius: 15px;
    object-fit: hidden;
    height: auto;
}
    
.content-section h5 {
    margin: 0 0 0.6rem 0;
    font-weight: 800;
    color: var(--Gray-950);
    width: fit-content;
    background-color: var(--Yellow);
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    border-radius: 5px;
    color: var(--Gray-950);
}

.content-section {
    color: var(--Gray-500);
    line-height: 1.5;
    padding: 0.5rem;
}
.content-section h1 {
    margin: 1rem 0 1rem 0;
    font-weight: 700;
    font-size: 1.5rem;
    width: fit-content;
    color: var(--Gray-950);
}
.content-section h1:hover {
    color: var(--Yellow);
    cursor: pointer;
}

.author-info {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-inline-start: 1rem; 
    position: relative;
    font-weight: bold;
}
.author-info img{
    object-fit: contain;
    block-size: 30px;
/*box-shadow:1px 1px 3px 1px rgba(0, 0, 0, 1);*/
    border-radius: 45px;
}
.author-info p {
    color: var(--Gray-950);
}
footer {
    font-size: 0.75rem;
    text-align: center;
    margin-top: 1rem;
    color: var(--Gray-500);
    position: relative;
    position: end;
}
footer a {
    color: var(--Gray-500);
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    color: var(--Gray-950);
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
        padding: 15px;
    }
    .image-section {
    overflow: hidden;
    border-radius: 15px;
    }
}